* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.parent {
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}

.card {
    height: 330px;
    width: 280px;
    border-radius: 20px;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;

}

.top img {
    height: 40px;
    width: 40px;
    border: 1px solid #dadadaba;
    border-radius: 50%;
    padding: 2px;
    object-fit: cover;
}

.top button {
    display: flex;
    align-items: center;
    border: 1px solid #dadadaf2;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 13px;
    gap: 3px;
    background-color: transparent;
    color: #8b8b8b;

}
/* 
.top button .fa-regular {
    size: 10px;
} */

.center h3 {
    font-size: 17px;
    font-weight: 500;
}

.center h3 span {
    font-size: 9px;
    font-weight: 400;
}

.center h2 {
    font-size: 22px; 
    font-weight: 500;
}

.center .tag {
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

.center .tag h4 {
    font-size: 10px;
    background-color: #dadada;
    color: #202020;
    font-weight: 500;
    border-radius: 5px;
    padding: 4px 8px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1.5px solid #b1b1b1c1;
    padding-top: 10px;
}

.footer button {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    column-width: 600;
}

.footer h3 {
    font-size: 19px; 
    font-weight: 500;
    margin-bottom: 4px;
}

.footer p {
    font-size: 12px;
    color: #8b8b8b;
}